.nav-bar {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 20px;
  border-bottom: 2px solid #222;
  background: lightgray;
}
.nav-bar > * {
  margin-right: 30px;
}
.nav-bar > *:last-child {
  margin-right: 0;
}
.nav-bar a, .logout {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #222;
  text-decoration: none;
  background: transparent;
  border: none;
  display: inline;
  cursor: pointer;
}
.active {
  font-weight: bold;
}
button:focus {
  outline: 0;
}
.error {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  border: 1px solid black;
  padding: 10px;
  color: red;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}
.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid #222;
  padding: 40px 10px;
  background: lightgray;
}
.auth > * {
  margin-bottom: 5px;
}
.users-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #222;
}
.user, .labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.labels {
  font-weight: bold;
}
.user > *, .labels > * {
  width: 33.3%;
  width: calc(100% / 3);
  text-align: center;
}
